/* Font-Face Declarations */
@font-face {
    font-family: "forcedsquare";
    src: url("fonts/forcedsquare.ttf");
    /*FORCEDSQUARE created by Paul Ijsendoorn @ drawperfect.com
    available for download 100% free from dafont.com
    http://www.dafont.com/forced-square.font?fpp=100&af=on&text=This+Is+The+Net
    thank you Paul!*/
}

@font-face {
    font-family: "smashhitlight";
    src: url("fonts/smashhitlight.ttf");
    /*Smash Hit font attributed to Henrik Johansson (Mediocre AB) @ smashhitgame.com
    available for download 100% free from dafont.com
    http://www.dafont.com/smash-hit.font?text=this+is+the+net&fpp=100&af=on&l[]=10&l[]=1
    thank you Henrik!*/
}

@font-face {
    font-family: "smashhit";
    src: url("fonts/smashhit.ttf");
    /*Smash Hit font attributed to Henrik Johansson (Mediocre AB) @ smashhitgame.com
    available for download 100% free from dafont.com
    http://www.dafont.com/smash-hit.font?text=this+is+the+net&fpp=100&af=on&l[]=10&l[]=1
    thank you Henrik!*/
}


/* Global Declarations */
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    cursor: crosshair;
    color: #fdfdfd;
    font-family: "ForcedSquare" Futura;
    letter-spacing: 5px;
}

p {
    font-family: "smashhitlight";
}

header {
    text-transform: uppercase;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 55px;
    font-style: normal;
}

h2 {
    font-size: 45px;
    font-weight: 100;
    padding: 5px;
}

h3 {
    font-size: 40px;
    font-weight: 100;
}

a:link, a:visited {
    color: inherit;
    cursor: inherit;
}

footer {
    clear: both;
    margin: 0;
    height: 50px;
    font-family: "smashhitlight";
    padding: 0px 10px 0px 0px
}


/* #ex Declarations */
#ex1:hover, #ex2:hover, #ex3:hover {
    color: inherit;
    cursor: inherit;
    border-color: #fdfdfd;
}

#ex1, #ex2, #ex3 {
    float: left;
    width: 413px;
    height: 478px;
}

#ex1 {
    background: #293D66;
    border: outset 12px #5C8AE6;
    margin: 0px 0px 0px 0px;
}

#ex2 {
    background: #6A1F1F;
    border: outset 12px #CC0000;
    margin: 0px 15px 0px 15px;
}

#ex3 {
    background-color: #143D29;
    border: outset 12px teal;
/*    margin: 0px 14px 0px 0x;*/
}

#exhibits {
    width: 1366px;
    height: 718px;
    text-align: center;
}

#Banner {
    width: 100%;
    background: #666666;
    clear: both;
    height: 50px;
/*                padding: inherit;*/
    font-size: 49px;
    font-weight: 100;
    margin-bottom: 34px;
}

#exContainer {
    width: 1366px;
    height: 718px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-decoration: none;
}

.exName {
    height: 123px;
    width: 413px;
}

.exDescription {
    text-transform: lowercase;
    font-family: "smashhitlight" helvetica;
    font-size: 17pt;
    margin: 0px 31px 0px 31px;
}


/* Sitemap Declarations */
.sitemapbutton{
    height: 25px;
    width: 120px;
    float: right;
/*    margin: 75px 0px 0px 0px;*/
}

.sitemapsquare {
    height: 19px;
    width: 19px;
    background: #fdfdfd;
    float: left;
}

.sitemaptext {
    font-size: 20px;
    letter-spacing: 2px;
    float: right;
    vertical-align: middle;
}

.staffbutton {
    height: 25px;
    width: 80px;
    float: right;
    margin: 0px 25px 0px 0px;
}

.staffbuttondivider {
    width: 80px;
    height: 25px;
    float: right;
    margin: 18px 25px 0px 0px;
}

.staffsquare {
    height: 19px;
    width: 19px;
    background: #fdfdfd;
    float: left;
}

.stafftext {
    font-size: 20px;
    letter-spacing: 2px;
    float: right;
    vertical-align: middle;
}

#piece {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

#graphic {
    height: 655px;
    width: 1200px;
    clear: both;
    margin: auto;
}

#divider {
    height: 45px;
    width: 1184px;
    clear: both;
    font-size: 49px;
    font-weight: 100;
    margin-bottom: 34px;
    padding:  0 8px 0 8px;
    background-color: #666666;
}

#dividercontent {
    position: relative;
    bottom: 28px;
}

#mht {
    font-family: "forcedsquare";
    font-size: 55px;
    float: left;
}

#path {
    font-family: "smashhit";
    font-size: 20px;
    float: left;
    margin: 16px 0 15px 12px;
}

.sitemapdivider {
    width: 120px;
    height: 25px;
    float: right;
    margin: 18px 0px 0px 0px;
}

#aarow {
    width: 123px;
    height: 25px;
    margin: 0 auto 0 auto;
    position: relative;
    bottom: 33px;
    padding: 0;
}

#article {
    width: 1200px;
    height: 655px;
    padding: 0 auto;
}

#articleTitle {
    width: 965px;
    height: 40px;
    font-family: "smashhit";
    font-size: 45px;
    border-bottom: 1px solid #fdfdfd;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

#columns {
    width: 1010px;
    height: 484px;
    font-family: "smashhitlight";
    font-size: 20px;
    margin: 0 auto;
}

#columnRight {
    float: right;
    width: 300px;
    height: 525px;
    text-align: justify;
    font-family: "smashhitlight";
    font-size: 19px;
    overflow: hidden;
}

#columnCenter {
    float: left;
    width: 317px;
    height: 550px;
    text-align: justify;
    font-family: "smashhitlight";
    font-size: 19px;
    overflow: hidden;
    margin: 0 35px;
}

#columnLeft {
    float: left;
    width: 317px;
    height: 525px;
    text-align: justify;
    font-family: "smashhitlight";
    font-size: 19px;
    overflow: hidden;
}

#collection {
    width: 1200px;
    height: 566px;
}

.collectionTitle {
    width: 376px;
    height: 26px;
    font-family: "smashhit";
    font-size: 28px;
    text-align: center;
}

.collectionDiv {
    width: 376px;
    height: 453px; 
}

#collectionLeft {
    float: left;
}

#collectionCenter {
    float: left;
    margin-left: 32px;
}

#collectionRight {
    float: right;
}

#collectionLeft:hover, #collectionCenter:hover, #collectionRight:hover {
    color: inherit;
    cursor: inherit;
    border: solid 1px #fdfdfd;
}

#staff {
    width: 1200px;
    /* height: ??; */
    float: left;
}

#portrait {
    width: 400px;
    height: 450px;
    float: left;
    padding: 0 0 0 200px;
}

#bio {
    width: 600px;
    height: 450px;
    float: right;
}

#socialMedia {
    text-decoration: none;
    width: 425px;
    height: 390px;
}

.smAddress {
    width: 100px;
    height: 25px;
    float: left;
    margin: 10px 0 0 10px;
    padding: auto 0
}

#website {
    width: 450px;
    height: 50px;
    float: left;
    clear: right;
    margin: 30px 0 0 0;
}

#twitter {
    width: 450px;
    height: 50px;
    float: left;
    clear: right;
    margin: 30px 0 0 0;
}

#wordpress {
    width: 450px;
    height: 50px;
    float: left;
    clear: right;
    margin: 30px 0 0 0;
}

#websiteIcon {
    height: 50px;
    width: 50px;
    background-image: url("/images/WebsiteIcon.png");
    float: left;
    background-size: contain;
}

#twitterIcon {
    height: 50px;
    width: 50px;
    background-image: url("images/Twitter_logo_green.png");
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#wordpressIcon {
    height: 50px;
    width: 50px;
    background-image: url("/images/wordpressLogo.png");
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.smAddress {
    width: 300px;
    padding: 15px 0 0 0;
}

#links {
    width: 1200px;
    height: 556px;
    padding: auto;
}

.link {
    width: 350px;
    height: 19px;
    float: left;
    margin: 50px 0 0 425px;
}

.name {
    width 20px;
    height: 19px;
    font-family: "smashhit";
    float: right;
}